.red {
	background-color:red;
	width:500px;
	height:500px;
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.col1 {
	background-color:white;
	width:100px;
	height:400px;
}
.col2 {
	background-color:white;
	width:100px;
	height:300px;
}
.col3 {
	background-color:white;
	width:100px;
	height:300px;
}
@keyframes loader {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0.6);
	}
}
@keyframes loader2 {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(1.4);
	}
}
@keyframes loader3 {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(1.4);
	}
}
.col1 {
	animation-name: loader;
	animation-duration: 1.5s;
	animation-delay: -0.4s;
	animation-iteration-count: infinite;
}
.col2 {
	animation-name: loader2;
	animation-delay: -0.2s;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.col3 {
	animation-name: loader3;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}